<template>
<div class="login-form">
    <div class="layout">
        <div class="layout-ceiling">
            <el-row type="flex" justify="center" align="middle">
           		<div class="qdp-logo">QDP登录</div>
           	</el-row>
        </div>
        <div class="form-height">
            <el-row type="flex" justify="center" align="middle">
                <el-col :span="9">
                    <p class="form-height"></p>
                </el-col>
                <el-col :span="6" class="v-middle">
                    <el-form ref="loginForm" :model="loginForm" :rules="ruleLoginForm" @keydown.enter.stop.native="onEnter" @keyup.enter.stop.native="doNothing">
                        <el-row>
                            <el-form-item prop="loginId">
                                <el-input type="text" v-model="loginForm.loginId" placeholder="loginId">
                                	<i class="el-icon-ion-ios-person-outline icon--primary" slot="prepend"></i>
                                </el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item prop="loginPasswd">
                                <el-input type="password" v-model="loginForm.loginPasswd" placeholder="Password">
                                	<i class="el-icon-ion-ios-locked-outline" slot="prepend"></i>
                                </el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item prop="validCode">
                                <el-input type="text" v-model="loginForm.validCode" placeholder="ValidateCode" @keyup.enter="handleSubmit">
                                <i class="el-icon-ion-ios-locked-outline" slot="prepend"></i> <img slot="append" height="22px" width="40px" style="vertical-align: middle;" :src.sync="validCodeUrl" @click="changeValidCode"> </el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item>
                                <el-row type="flex" justify="center" align="middle">
                                	<el-button type="primary" @click.native="handleSubmit">登录</el-button>
                                </el-row>
                            </el-form-item>
                        </el-row>
                    </el-form>
                </el-col>
                <el-col :span="9"></el-col>
            </el-row>
        </div>
        <div class="layout-copy">2017-2019 &copy; Forever Open Source & Forever Flying {{app_version}}</div>
    </div>
</div>
</template>
<script type="text/javascript">
define(['vue', "encrypt", "qdp"], function(Vue) {
    var encrypt = new JSEncryptExports.JSEncrypt();
    encrypt.setPublicKey('MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCJHezVuDIGtL8RIcrU+7jCdMJIN2Amuzv0pU0iDCkTtuAuKrJidh35Tqa+4l5Z0uDCy6KhJdBvE2tL/L8NUcw7e4bgbsV8rm+LZoKWjUTRPfwskCVDN4iUk6KAMpUyW73AHJz3XRZnq2Z+LmJy+6mnguofGU37Mr6c5Jeh4PbhcwIDAQAB');
    return {
        template: template,
        components: {
        },
        mounted: function() {
            //document.addEventListener('keydown', this.onEnter)
        },
        beforeDestroy: function() {
            //document.removeEventListener('keydown', this.onEnter)
        },
        data: function() {
            return {
            	app_version: app_version||'',
                validCodeUrl: qdpPathJoin(ctx, "/system/valid.png?_=") + qdpRandom(),
                loginForm: {
                    loginId: '',
                    loginPasswd: '',
                    validCode: ''
                },
                ruleLoginForm: {
                    loginId: [{
                        required: true,
                        message: '请填写登录帐号',
                        trigger: 'blur'
                    }],
                    loginPasswd: [{
                        required: true,
                        message: '请填写登录密码',
                        trigger: 'blur'
                    }, {
                        type: 'string',
                        min: 6,
                        message: '密码长度不能小于6位',
                        trigger: 'blur'
                    }],
                    validCode: [{
                        required: true,
                        message: '请填写验证码',
                        trigger: 'blur'
                    }, {
                        type: 'string',
                        len: 4,
                        message: '验证码长度4位',
                        trigger: 'blur'
                    }]
                }
            }
        },
        methods: {
        	accountId : getters.accountId, //
            onEnter: function(event) {
                if (event.keyCode === 13) {
                    LOG("FN: login.onEnter")
                    this.handleSubmit()
                }
            },
            doNothing: function(){},
            handleSubmit: function() {
                var root = this;
                root.$refs.loginForm.validate(function(valid) {
                    if (valid) {
                        root.$http.options.emulateJSON = true;
                        var formData=qdpJsonCopy(root.loginForm)
                        formData.loginPasswd=encrypt.encrypt(root.loginForm.loginPasswd)
                        root.$http.post(qdpPathJoin(ctx, "/system/login.do"), formData).then(function(data) {
                        	 if (qdpIsSuccess(data)) {
                        		 root.$message.info('登录成功');
                        		 qdpSSetItem('account', qdpAjaxDataBody(data));
                        		 qdpSSetItem('last', new Date().getTime());
                                 root.$store.dispatch('login');
                                 root.$store.dispatch('setAccount', qdpAjaxDataBody(data));
                                 var path = qdpSGetItem('lastPath', '/home');
                                 qdpSSetItem('lastPath', null);
                                 root.queryContext(root.accountId());
                                 Router.push(path); 
                        	 }else{
                        		 root.$message.error(qdpAjaxDataBody(data)||'登录不成功');
                        		 root.changeValidCode();
                        	 }
                        }, function(response) {
                            root.$notify.open({
                                title: 'Login=>Error',
                                desc: qdpToString(response),
                                duration: 0
                            });
                            root.changeValidCode();
                        })
                    } else {
                        root.$message.error('表单验证失败!');
                    }
                });
            },
            changeValidCode: function() {
                var url = this.validCodeUrl;
                this.validCodeUrl = url.substring(0, url.indexOf('?')) + '?_=' + qdpRandom();
            }, //
			queryContext: function(value){
				var qc = qdpSGetItem('queryContext',{});
				if(value===null || value!=null){
					qc.accountId = value;
					qdpSSetItem('queryContext', qc);
				}
				return qc;
			},//
            onPost : function(eventType, arg0, arg1) {
				LOG("EV: FormItem." + eventType)
				var root = this;
				if (eventType.indexOf("on-selection-delete:item-panel") == 0) {
					root.value.data[root.formItem.name] = qdpProps((root.value.sdata[root.formItem.name] || {}).data, ',');
					root.updateModel();
				}
				// 事件传递
				var args = [ "on-post", qdpActionName(eventType, 'form-item') ].concat(Array.prototype.slice.call(arguments, 1));
				root.$emit.apply(root, args.concat([ root ]));
			}
        }
    }
})

</script>
